* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: auto;
  width: 30vw;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
}

.warning {
  color: red;
}